<h1>Channels</h1>
<div class="mx-auto">
	<div class="col-md-3">
		<form action="" class="card">
			<div class="card-body">
				<input class="form-control" type="text" name="channel-name" id="channel-name" placeholder="Channel name" />
				<input class="form-control" type="url" name="channel-url" id="channel-url" placeholder="URL"/>
				<button class="btn btn-primary" type="submit">Add</button>
			</div>
		</form>
	</div>
</div>
<table>
	<thead>
		<th>Hola</th>
	</thead>
</table>