<div class="container">
	<div class="col">
		<div class="d-flex flex-column align-items-center card mt-5">
			<div class="card-body">
				<h1 class="text-center card-title">Favorite Channels</h1>
				<a class="btn btn-primary p-1 mx-auto" href="/channels">Let's Get started</a>
			</div>
		</div>
	</div>
</div>