
<div class="container mt-5">
	<form action="/signup/" method="POST" class="card">
		<div class="card-body">
			<h1 class="card-title text-center">Sign Up</h1>
			<input required class="form-control" type="text" name="fullname_input" id="fullname-input" placeholder="Full Name" value="{{name}}" />
			<input required class="form-control" type="text" name="username" id="username" placeholder="Username" value="{{username}}" />
			<input required class="form-control" type="email" name="email_input" id="email-input" placeholder="email@email.com" value="{{email}}" />
			<input required class="form-control" type="password" name="password_input" id="password-input" placeholder="Password" value="{{password}}" />
			<input required class="form-control" type="password" name="password_input_2" id="password-input-2" placeholder="Repeat password" />
			<button class="btn btn-primary col" type="submit">Sign Up</button>
		</div>
	</form>
</div>